Checks: >
  misc-*,
  performance-*,
  modernize-*,
  readability-*,
  -readability-redundant-declaration,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-avoid-nested-conditional-operator,
  -readability-function-cognitive-complexity,
  -readability-redundant-inline-specifier,
  -readability-isolate-declaration,
  -readability-named-parameter,
  -modernize-use-nodiscard,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static,
  -readability-use-anyofallof,
  -readability-math-missing-parentheses,
  -performance-avoid-endl,
  -misc-include-cleaner,
  -misc-unused-alias-decls,
  -misc-unused-parameters,
  -performance-enum-size,
  -performance-for-range-copy,
  -performance-unnecessary-value-param,
  -readability-braces-around-statements,
  -readability-inconsistent-declaration-parameter-name,
  -readability-use-std-min-max,
  -readability-non-const-parameter,
  -misc-non-private-member-variables-in-classes,
  -misc-unconventional-assign-operator,
  -modernize-avoid-c-arrays,
  -misc-use-internal-linkage,
  -misc-confusable-identifiers,
  -readability-simplify-boolean-expr

HeaderFilterRegex: 'kharma/.*'

WarningsAsErrors: ''
